@layer reset, global, resume, blog;

@layer blog {
  /* Blog wrapper */

  #blog-wrapper a {
    color: light-dark(var(--color-blue-dark), var(--color-blue-light));
  }

  #blog-wrapper header {
    border-bottom: 3px solid light-dark(var(--color-black), var(--color-white));
  }

  #blog-wrapper header p,
  #blog-wrapper .tag a {
    color: light-dark(var(--color-black), var(--color-white));
  }

  #blog-wrapper p {
    color: light-dark(var(--color-grey-dark), var(--color-grey-light));
  }

  #blog-wrapper .tag {
    background: light-dark(var(--color-white), var(--color-black));
  }

  /* Markdown wrapper */

  #markdown-wrapper .author-and-date,
  #markdown-wrapper .author-and-date a {
    color: light-dark(var(--color-black), var(--color-white));
  }

  #markdown-wrapper #markdown-content a,
  #markdown-wrapper main a {
    color: light-dark(var(--color-blue-dark), var(--color-blue-light));
  }

  #markdown-wrapper ol:not(.tags),
  #markdown-wrapper ul:not(.tags),
  #markdown-wrapper p {
    color: light-dark(var(--color-grey-dark), var(--color-grey-light));
  }

  #markdown-wrapper .tags a {
    background: light-dark(var(--color-white), var(--color-black));
    border: 1px solid
      light-dark(var(--color-grey-light), var(--color-grey-dark));
    color: light-dark(var(--color-black), var(--color-white));
  }

  /* Markdown content */

  #markdown-content table,
  #tag-wrapper p {
    color: light-dark(var(--color-grey-dark), var(--color-grey-light));
  }

  #markdown-content thead,
  #markdown-content td:nth-child(1) {
    background: light-dark(var(--color-grey-light), var(--color-grey-dark));
    color: light-dark(var(--color-black), var(--color-white));
  }

  #markdown-content th,
  #markdown-content td {
    border: 2px solid
      light-dark(var(--color-grey-dark), var(--color-grey-light));
  }

  #markdown-content blockquote {
    border-left: 3px solid light-dark(var(--color-black), var(--color-white));
  }

  #blog-post-footer p a,
  #tag-wrapper a {
    color: light-dark(var(--color-blue-dark), var(--color-blue-light));
  }

  @media (prefers-color-scheme: light) {
    #blog-wrapper header img {
      filter: invert(1);
    }
  }
}
