:root {
  --color-black: #101010;
  --color-white: #fefefe;
  --color-black-alt: #252525;
  --color-white-alt: #e5e5e5;

  --color-accent-projects: #f6026a;
  --color-accent-collaborations: #ffd501;
  --color-accent-about: #66ffe5;
  --color-accent-contact: #49fe18;
}
