// Fonts

@font-face {
  font-family: 'AtkinsonHyperlegible';
  src: url('/fonts/Atkinson-Hyperlegible-Regular-102.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AtkinsonHyperlegibleBold';
  src: url('/fonts/Atkinson-Hyperlegible-Bold-102.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --h1: 2rem;
  --h2: 1.5em;
  --h3: 1em;
  --paragraph: 1.5rem;
  --color-darkest: #112d4e;
  --color-dark: #3f72af;
  --color-light: #dbe2ef;
  --color-lightest: #f9f7f7;
  --white: #fff;
  --black: #000;
}

html {
  font-family: 'AtkinsonHyperlegible', sans-serif;
  font-size: 2rem;
}

:is(a, button, input, textarea, summary) {
  --outline-size: max(2px, 0.08em);
  --outline-style: solid;
  --outline-color: currentColor;
}

:is(a, button, input, textarea, summary):focus {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}

:is(a, button, input, textarea, summary):focus-visible {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}

:is(a, button, input, textarea, summary):focus:not(:focus-visible) {
  outline: none;
}

:is(a, button, input, textarea, summary):hover {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}

@media (prefers-reduced-motion: no-preference) {
  :focus,
  :focus-visible,
  :hover {
    transition: outline-offset 0.25s ease;
    outline-offset: 5px;
  }
}

body {
  background: var(--white);
  // margin: 0 auto;
  // padding: 0 5%;

  section {
    max-width: 1200px;
    margin: 0 auto;
  }
}

hr {
  border-top: 2px solid black;
  color: black;
  margin: 4rem auto;
  width: 50%;
}

.skip-link {
  white-space: nowrap;
  margin: 1em auto;
  top: 0;
  position: fixed;
  left: 50%;
  margin-left: -72px;
  opacity: 0;
}
.skip-link:focus {
  opacity: 1;
  background-color: var(--white);
  padding: 0.5em;
  border: 1px solid var(--black);
}
