@font-face {
  font-display: swap;
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/syne-v16-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/space-mono-v12-latin-regular.woff2') format('woff2');
}

/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1536,20,1.25,5,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  /* Colors */
  --color-black: #101010;
  --color-white: #fefefe;
  --color-black-alt: #252525;
  --color-white-alt: #e4e5e5;

  /* Fluid font size */
  --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --step-1: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
  --step-2: clamp(1.62rem, calc(1.5rem + 0.58vw), 1.95rem);
  --step-3: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
  --step-4: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
  --step-5: clamp(2.8rem, calc(2.45rem + 1.77vw), 3.82rem);

  /* Fluid space */
  --space-3xs: clamp(0.31rem, calc(0.31rem + 0vw), 0.31rem);
  --space-2xs: clamp(0.56rem, calc(0.54rem + 0.11vw), 0.63rem);
  --space-xs: clamp(0.88rem, calc(0.85rem + 0.11vw), 0.94rem);
  --space-s: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --space-m: clamp(1.69rem, calc(1.62rem + 0.33vw), 1.88rem);
  --space-l: clamp(2.25rem, calc(2.16rem + 0.43vw), 2.5rem);
  --space-xl: clamp(3.38rem, calc(3.24rem + 0.65vw), 3.75rem);
  --space-2xl: clamp(4.5rem, calc(4.33rem + 0.87vw), 5rem);
  --space-3xl: clamp(6.75rem, calc(6.49rem + 1.3vw), 7.5rem);
}

@font-face {
  font-display: swap;
  font-family: 'Coming Soon';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/coming-soon-v19-latin-regular.woff2') format('woff2');
}

body {
  background: var(--color-black);
  color: var(--color-white);
}

/* Focus style by Stephanie Eckles: https://css-tricks.com/standardizing-focus-styles-with-css-custom-properties/ */

:is(a, button, input, textarea, summary) {
  --outline-size: max(2px, 0.08em);
  --outline-style: solid;
  --outline-color: var(--color-white);
  --outline-offset: 5px;
  transition: 0.2s ease;
}

:is(a, button, input, textarea, summary):hover {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}

:is(a, button, input, textarea, summary):focus {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}

:is(a, button, input, textarea, summary):focus-visible {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}

:is(a, button, input, textarea, summary):focus:not(:focus-visible) {
  outline: none;
}

/* Outline-offset by Adam Argyle: https://codepen.io/argyleink/pen/JjEzeLp */

@media (prefers-reduced-motion: no-preference) {
  :focus {
    transition: outline-offset 0.25s ease;
    outline-offset: 5px;
  }
}

section {
  margin: 0 auto;
  padding: 0 var(--space-s);
}

h1,
h2,
h3,
.sub-headline {
  font-family: 'Syne', sans-serif;
}

h1 {
  font-size: calc(var(--step-5));
}

h2 {
  font-size: calc(var(--step-4));
}

h3 {
  font-size: var(--step-3);
}

.sub-headline {
  font-size: var(--step-2);
}

input,
textarea {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: var(--space-xs);
}

a,
button,
p,
label,
footer {
  color: var(--color-white);
  font-family: 'Space Mono', monospace;
  font-size: var(--step-0);
}

mark {
  background: var(--color-white);
  color: var(--color-black);
  padding: 0 3px;
}

.anchor {
  height: 72px;
}
