/* Fonts */

@font-face {
  font-display: swap;
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Atkinson-Hyperlegible-Regular-102a.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/syne-v16-latin-700.woff2") format("woff2");
}

/* General */

body {
  margin: 0;
}

section {
  margin: 0 auto;
  padding: 0 var(--space-s);
}

h1,
h2,
h3,
h4,
.sub-headline {
  font-family: "Syne", sans-serif;
  line-height: 1;
}

h1 {
  font-size: calc(var(--step-5));
}

h2 {
  font-size: calc(var(--step-4));
}

h3 {
  font-size: var(--step-2);
}

h4 {
  font-size: var(--step-1);
}

.sub-headline {
  font-size: var(--step-2);
}

input,
textarea {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: var(--space-xs);
}

a,
button,
p,
label,
footer,
ul {
  font-family: "Atkinson Hyperlegible", serif;
  font-size: var(--step-1);
}

#resume-container main {
  justify-items: start;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1536px;
  margin: 0 auto;
  padding: 0 var(--space-s);
}

#markdown-wrapper code {
  color: var(--color-white);
  background: var(--color-grey-dark);
}

/* Preference detection */

@media (prefers-color-scheme: dark) {
  html {
    background: var(--color-black);
    color: var(--color-white);
  }

  #intro {
    background: var(--color-white);
    color: var(--color-black);
  }

  #intro a,
  #intro p,
  #intro .sub-headline {
    color: var(--color-black);
  }

  #profile-picture {
    box-shadow: 10px 10px 0px 0px var(--color-grey-light);
  }

  #projects a {
    color: var(--color-blue-light);
  }

  #projects img {
    box-shadow: 10px 10px 0px 0px #1f262e;
  }

  #back-to-top {
    background: var(--color-white);
  }

  #back-to-top img {
    filter: invert(1);
  }

  button,
  label {
    color: var(--color-white);
  }

  hr {
    color: var(--color-grey-light);
  }

  /* Resume page */

  #intro-resume .sub-headline {
    color: var(--color-grey-light);
  }

  #education-list span:nth-child(2),
  #education-list span:nth-child(3) {
    color: var(--color-grey-light);
  }

  #languages-list span {
    color: var(--color-grey-light);
  }

  .job-description p {
    color: var(--color-grey-light);
  }

  .tech-item {
    color: var(--color-grey-light);
  }

  /* Blog post layout */

  #blog-wrapper p {
    color: var(--color-grey-light);
  }
  #blog-wrapper header {
    border-bottom: 3px solid var(--color-white);
  }
  #blog-wrapper .smol-css-grid a {
    color: var(--color-blue-light);
  }
  #markdown-wrapper header {
    border-bottom: 3px solid var(--color-white);
  }
  #markdown-wrapper p {
    color: var(--color-grey-light);
  }
  #markdown-wrapper ul:not(.tags) {
    color: var(--color-grey-light);
  }
  #markdown-wrapper main a {
    color: var(--color-blue-light);
  }
  #related-tags {
    border-top: 2px solid var(--color-white);
  }
  #related-tags a {
    background: var(--color-grey-dark);
  }
  #tag-wrapper a {
    color: var(--color-blue-light);
  }
  #tag-wrapper p {
    color: var(--color-grey-light);
  }
}

@media (prefers-color-scheme: light) {
  html {
    background: var(--color-white);
    color: var(--color-black);
  }

  #intro {
    background: var(--color-black);
    color: var(--color-white);
  }

  #intro a,
  #intro p,
  #intro .sub-headline {
    color: var(--color-grey-light);
  }

  #profile-picture {
    box-shadow: 10px 10px 0px 0px var(--color-grey-dark);
  }

  #intro .icon {
    filter: invert(1);
  }

  #projects a {
    color: var(--color-blue-dark);
  }

  #projects img {
    box-shadow: 10px 10px 0px 0px var(--color-grey-light);
  }

  #back-to-top {
    background: var(--color-black);
  }

  #back-to-top img {
    filter: invert(0);
  }

  #collaborations img {
    filter: invert(1);
  }

  hr {
    color: var(--color-black);
  }

  /* Resume page */

  #intro-resume img {
    filter: invert(1);
  }

  #education-list span:nth-child(2),
  #education-list span:nth-child(3) {
    color: var(--color-black);
  }

  #languages-list span {
    color: var(--color-black);
  }

  .job-description p {
    color: var(--color-black);
  }

  .tech-item {
    color: var(--color-black);
  }

  /* Blog post layout */

  #blog-wrapper p {
    color: var(--color-grey-dark);
  }
  #blog-wrapper header {
    border-bottom: 3px solid var(--color-black);
  }
  #blog-wrapper header img {
    filter: invert(1);
  }
  #blog-wrapper .smol-css-grid a {
    color: var(--color-blue-dark);
  }
  #markdown-wrapper header {
    border-bottom: 3px solid var(--color-black);
  }
  #markdown-wrapper .markdown-content a {
    color: var(--color-blue-dark);
  }
  #related-tags {
    border-top: 2px solid var(--color-black);
  }
  #related-tags a {
    background: var(--color-grey-dark);
    color: var(--color-white);
  }
  #tag-wrapper a {
    color: var(--color-blue-dark);
  }
  #tag-wrapper p {
    color: var(--color-grey-dark);
  }
}

/* Accessibility */

:is(a, button, input, textarea, summary):hover {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}

:is(a, button, input, textarea, summary):focus {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}

:is(a, button, input, textarea, summary):focus-visible {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}

:is(a, button, input, textarea, summary):focus:not(:focus-visible) {
  outline: none;
}

@media (prefers-reduced-motion: no-preference) {
  :hover,
  :focus {
    transition: outline-offset 0.25s ease;
    outline-offset: 5px;
  }
}
