section {
  margin: 0 auto;
  padding: 0 var(--space-s);
}

h1,
h2,
h3,
h4,
.sub-headline {
  font-family: "Syne", sans-serif;
  line-height: 1;
}

h1 {
  font-size: calc(var(--step-5));
}

h2 {
  font-size: calc(var(--step-4));
}

h3 {
  font-size: var(--step-2);
}

h4 {
  font-size: var(--step-1);
}

.sub-headline {
  font-size: var(--step-2);
}

input,
textarea {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: var(--space-xs);
}

a,
button,
p,
label,
footer {
  font-family: "Atkinson Hyperlegible", serif;
  font-size: var(--step-1);
}

html {
  background: var(--color-black-alt);
  color: var(--color-white);

  a,
  button,
  p,
  label,
  footer,
  hr {
    color: var(--color-white);
  }
}

html.dark {
  background: var(--color-white-alt);
  color: var(--color-black);

  a,
  button,
  p,
  label,
  footer,
  hr {
    color: var(--color-black);
  }
}
