/* Fonts */

@font-face {
  font-display: swap;
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Atkinson-Hyperlegible-Regular-102a.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/syne-v16-latin-700.woff2") format("woff2");
}

/* General */

body {
  margin: 0;
}

section {
  margin: 0 auto;
  padding: 0 var(--space-s);
}

h1,
h2,
h3,
h4,
.sub-headline {
  font-family: "Syne", sans-serif;
  line-height: 1;
}

h1 {
  font-size: calc(var(--step-6));
}

h2 {
  font-size: calc(var(--step-4));
}

h3,
.sub-headline,
#footnote-label {
  font-size: var(--step-2);
}

h4 {
  font-size: var(--step-1);
}

input,
textarea {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: var(--space-xs);
}

a,
button,
p,
table,
time,
label,
footer,
ul,
ol {
  font-family: "Atkinson Hyperlegible", serif;
  font-size: var(--step-1);
}

#resume-container main {
  justify-items: start;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1536px;
  margin: 0 auto;
  padding: 0 var(--space-s);
}

#markdown-wrapper pre code {
  background: initial;
  padding: 0;
}

#markdown-wrapper code {
  color: var(--color-white);
  background: var(--color-grey-dark);
}

/* Preference detection */

@media (prefers-color-scheme: dark) {
  html {
    background: var(--color-black);
    color: var(--color-white);
  }

  #intro .kicker {
    color: var(--color-grey-light);
  }

  #intro a,
  #about-me a {
    color: var(--color-blue-light);
  }

  #intro .icon {
    filter: invert(1);
  }

  #profile-picture {
    box-shadow: 10px 10px 0px 0px var(--color-grey-light);
  }

  #a11y-statement a,
  footer a,
  #projects a,
  #website-footer a {
    color: var(--color-blue-light);
  }

  #projects img {
    box-shadow: 10px 10px 0px 0px #1f262e;
  }

  #back-to-top {
    background: var(--color-white);
  }

  #back-to-top img {
    filter: invert(1);
  }

  button,
  label {
    color: var(--color-white);
  }

  hr {
    color: var(--color-grey-light);
  }

  #a11y-statement footer {
    border-top: 2px solid var(--color-white);
  }
}

@media (prefers-color-scheme: light) {
  html {
    background: var(--color-white);
    color: var(--color-black);
  }

  #intro .kicker {
    color: var(--color-grey-dark);
  }

  #intro a,
  #about-me a {
    color: var(--color-blue-dark);
  }

  #profile-picture {
    box-shadow: 10px 10px 0px 0px var(--color-grey-dark);
  }

  #a11y-statement a,
  footer a,
  #projects a,
  #website-footer a {
    color: var(--color-blue-dark);
  }

  #projects img {
    box-shadow: 10px 10px 0px 0px var(--color-grey-light);
  }

  #back-to-top {
    background: var(--color-black);
  }

  #back-to-top img {
    filter: invert(0);
  }

  #collaborations img,
  #blog-logo img {
    filter: invert(1);
  }

  hr {
    color: var(--color-black);
  }

  #a11y-statement footer {
    border-top: 2px solid var(--color-black);
  }
  #a11y-statement img {
    filter: invert(1);
  }
}

/* Accessibility */

:is(a, button, input, textarea, summary):hover {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}

:is(a, button, input, textarea, summary):focus {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}

:is(a, button, input, textarea, summary):focus-visible {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}

:is(a, button, input, textarea, summary):focus:not(:focus-visible) {
  outline: none;
}

@media (prefers-reduced-motion: no-preference) {
  :hover,
  :focus {
    transition: outline-offset 0.25s ease;
    outline-offset: var(--outline-offset);
  }
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
