@layer reset, global, resume, blog;

@layer resume {
  #intro-resume a {
    color: light-dark(var(--color-blue-dark), var(--color-blue-light));
  }

  #intro-resume .sub-headline {
    color: light-dark(var(--color-grey-dark), var(--color-grey-light));
  }

  #education-list span:nth-child(2),
  #education-list span:nth-child(3) {
    color: light-dark(var(--color-black), var(--color-grey-light));
  }

  #languages-list span,
  .job-description p,
  .tech-item {
    color: light-dark(var(--color-black), var(--color-grey-light));
  }

  @media (prefers-color-scheme: light) {
    #intro-resume img {
      filter: invert(1);
    }
  }
}
