---
export interface Props {
  name: string;
}

const { name } = Astro.props;
---

<span>{name}</span>

<style>
  span {
    background: var(--color-grey);
    border-radius: 5px;
    color: var(--color-black);
    font-family: "Atkinson Hyperlegible", serif;
    font-size: var(--step-1);
    padding: var(--space-3xs);
  }
</style>
