---
import { storyblokEditable, renderRichText } from '@storyblok/astro';
import BackToTop from '@components/BackToTop.astro';

const { blok } = Astro.props;
const content = renderRichText(blok.content);
---

<div id='blog-post-wrapper' {...storyblokEditable(blok)}>
  <header>
    <h1>{blok.title}</h1>
  </header>
  <main>
    <div id='content-container' set:html={content} />
  </main>
</div>
<BackToTop />

<style lang='scss' is:global>
  #blog-post-wrapper {
    max-width: 768px;
    margin: 0 auto var(--space-m) auto;
    padding: 0 var(--space-s);

    h1 {
      border-bottom: 3px solid var(--color-white-alt);
      margin: var(--space-m) 0;
      padding-bottom: var(--space-m);
    }

    #content-container {
      h2 {
        margin-bottom: var(--space-m);
      }

      a,
      p {
        font-family: 'Atkinson Hyperlegible';
        font-size: var(--step-1);
      }

      p > img {
        width: 100%;
      }

      li > p {
        margin: 0;
      }

      p {
        margin: var(--space-m) 0;
      }

      hr {
        border: 1px solid var(--color-white-alt);
        margin: var(--space-m) auto;
        max-width: 96px;
      }

      a:hover,
      a:focus,
      a:focus-visible {
        background: blue;
      }
    }
  }
</style>
