---
import { storyblokEditable } from '@storyblok/astro';
import { marked } from 'marked';
import BackToTop from '@components/BackToTop.astro';

marked.use({
  mangle: false,
  headerIds: false,
});

const { blok } = Astro.props;
const markdownContent = marked.parse(blok.markdown);

const date = new Date(blok.date);
const formattedDate = date.toLocaleDateString('en-US', {
  month: 'long',
  day: 'numeric',
  year: 'numeric',
});
---

<div id='blog-post-wrapper' {...storyblokEditable(blok)}>
  <header>
    <h1>{blok.title}</h1>
    <p id='blog-date'>Published on {formattedDate}</p>
  </header>
  <main>
    <Fragment set:html={markdownContent} />
  </main>
</div>
<BackToTop />

<style lang='scss' is:global>
  #blog-post-wrapper {
    max-width: 768px;
    margin: 0 auto var(--space-m) auto;
    padding: 0 var(--space-s);

    header {
      border-bottom: 3px solid var(--color-white-alt);
      padding: var(--space-m) 0;
    }

    h2 {
      margin-bottom: var(--space-m);
    }

    a,
    p,
    li,
    time {
      font-family: 'Atkinson Hyperlegible', serif;
      font-size: var(--step-1);
    }

    p > img {
      width: 100%;
    }

    li > p {
      margin: 0;
    }

    p {
      margin: var(--space-m) 0;
    }

    #blog-date {
      margin-bottom: 0;
    }

    hr {
      border: 1px solid var(--color-white-alt);
      margin: var(--space-m) auto;
      max-width: 96px;
    }

    a {
      background: var(--color-accent-projects);
    }

    blockquote {
      border-left: 3px solid var(--color-white-alt);
      padding-left: var(--space-s);
      color: var(--color-white) !important;
      font-style: italic;
      color: var(--color-white) !important;
    }

    p > code {
      background: var(--color-black-alt);
      color: var(--color-accent-about);
      font-size: var(--step-0);
    }

    ul {
      margin: 0;
    }
  }
</style>
