---
import { storyblokEditable, renderRichText } from '@storyblok/astro';
import { Image } from '@astrojs/image/components';
import arrow from '@images/icons/arrow-upward.svg';
import BackToTop from '@components/BackToTop.astro';

const { blok } = Astro.props;
const content = renderRichText(blok.content);
---

<div id='blog-post-wrapper' {...storyblokEditable(blok)}>
  <header>
    <h1>{blok.title}</h1>
    <a aria-label='Back to blog' href='/blog' id='back-to-blog'>
      <Image alt='Back to blog' src={arrow} />
    </a>
  </header>
  <main>
    <div id='content-container' set:html={content} />
  </main>
</div>
<BackToTop />

<style lang='scss' is:global>
  #blog-post-wrapper {
    max-width: 768px;
    margin: 0 auto var(--space-m) auto;
    padding: 0 var(--space-s);

    header {
      border-bottom: 3px solid var(--color-white-alt);
      margin: var(--space-m) 0;
      padding-bottom: var(--space-m);
    }

    #back-to-blog {
      background: rgba(0, 0, 0, 0.368);
      left: 12px;
      position: fixed;
      rotate: (270deg);
      top: 12px;
    }

    #content-container {
      h2 {
        margin-bottom: var(--space-m);
      }

      a,
      p {
        font-family: 'Atkinson Hyperlegible', serif;
      }

      p > img {
        width: 100%;
      }

      li > p {
        margin: 0;
      }

      p {
        margin: var(--space-m) 0;
      }

      hr {
        border: 1px solid var(--color-white-alt);
        margin: var(--space-m) auto;
        max-width: 96px;
      }

      a:hover,
      a:focus,
      a:focus-visible {
        background: blue;
      }

      blockquote {
        border-left: 3px solid var(--color-white-alt);
        padding-left: var(--space-s);
        color: var(--color-white) !important;
      }

      blockquote > p > span {
        color: var(--color-white) !important;
        font-style: italic;
      }

      p > code {
        background: var(--color-black-alt);
        color: #f6026a;
      }
    }
  }
</style>
