---
import { storyblokEditable } from '@storyblok/astro';
import { marked } from 'marked';
import BackToTop from '@components/BackToTop.astro';

marked.use({
  mangle: false,
  headerIds: false,
});

const { blok } = Astro.props;
const markdownContent = marked.parse(blok.markdown);

const date = new Date(blok.date);
const formattedDate = date.toLocaleDateString('en-US', {
  month: 'long',
  day: 'numeric',
  year: 'numeric',
});
---

<div id='blog-post-wrapper' {...storyblokEditable(blok)}>
  <header>
    <h1>{blok.title}</h1>
    <p id='blog-date'>
      Published on {formattedDate} - <a href='/blog'>Back to blog</a>
    </p>
  </header>
  <main>
    <Fragment set:html={markdownContent} />
  </main>
</div>
<BackToTop />

<style lang='scss'>
  #blog-post-wrapper {
    max-width: 768px;
    margin: 0 auto var(--space-m) auto;
    padding: 0 var(--space-s);
  }

  #blog-post-wrapper :global(header) {
    border-style: solid;
    border-width: 0 0 2px 0;
    padding: var(--space-m) 0 var(--space-xs) 0;
  }

  #blog-post-wrapper :global(h1 + p) {
    margin: var(--space-xs) 0 var(--space-3xs) 0;
  }

  #blog-post-wrapper :global(h2) {
    margin-bottom: var(--space-m);
  }

  #blog-post-wrapper :global(a, p, li, time) {
    font-family: 'Atkinson Hyperlegible', serif;
    font-size: var(--step-1);
  }

  #blog-post-wrapper :global(p) {
    margin: var(--space-m) 0;
  }

  #blog-post-wrapper :global(p > img) {
    width: 100%;
  }

  #blog-post-wrapper :global(li > p) {
    margin: 0;
  }

  #blog-post-wrapper :global(blockquote) {
    border-width: 0 0 0 2px;
    border-style: solid;
    padding-left: var(--space-s);
    font-style: italic;
  }

  #blog-post-wrapper :global(p > code) {
    background: var(--color-black-alt);
    color: var(--color-white-alt);
    font-size: var(--step-0);
    padding: 0 1%;
  }
</style>
