---
import { SbBlokData, storyblokEditable } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';
import BackToTop from '@components/BackToTop.astro';

const { blok } = Astro.props;
---

<main id='main' {...storyblokEditable(blok)}>
  {
    blok.body?.map((blok: SbBlokData) => {
      return <StoryblokComponent blok={blok} />;
    })
  }
  <BackToTop />
</main>

<style>
  main {
    margin: 0 auto;
    max-width: 1536px;
    padding: 0 var(--space-s);
  }
</style>
