.container {
  background: var(--grey);
  color: var(--white);
  max-width: var(--max-width);
  margin: var(--margin-and-center);
  padding: var(--inner-padding);
  clip-path: polygon(6.9% 10.3%, 97.3% 3.3%, 92.1% 91.3%, 1.4% 96.5%);
}

.wrapper {
  padding: 4rem 5%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  figure {
    display: flex;
    margin: 2rem;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  }
}

.text {
  flex: 1;
  margin: 2rem auto;

  h1 {
    font-size: 2em;
  }

  p {
    width: 75%;
  }
}
