---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Page not found - 404">
  <header>
    <h1>Page not found - 404</h1>
  </header>
  <main>
    <p>
      Something went wrong end you ended up here. Did you enter the correct URL?
    </p>
  </main>
</Layout>
