---
import '../styles/reset.css';
import '../styles/global.scss';

import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Intro from '../components/Intro.astro';
import Clients from '../components/Clients.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title='Steve Frenzel - Web developer and accessibility engineer'>
  <!-- <a class='skip-link' href='#main'> Skip to content</a>
  <Navigation /> -->
  <!-- <Intro /> -->
  <main id='main'>
    <Projects />
    <Clients />
    <Skills />
    <!-- <Contact /> -->
  </main>
  <!-- <Footer /> -->
</Layout>
