---
import Layout from "@layouts/Layout.astro";

import Navigation from "@components/Navigation.astro";
import Intro from "@components/Intro.astro";
import Projects from "@components/Projects.astro";
import Clients from "@components/Collaborations.astro";
import AboutMe from "@components/AboutMe.astro";
import Contact from "@components/Contact.astro";
import Footer from "@components/Footer.astro";

import BackToTop from "@utils/BackToTop.astro";
import SkipLink from "@utils/SkipLink.astro";
---

<Layout title="Steve Frenzel - Web Developer & Accessibility Engineer">
  <SkipLink />
  <Navigation />
  <Intro />
  <main id="main">
    <Projects />
    <Clients />
    <AboutMe />
    <Contact />
    <BackToTop />
  </main>
  <Footer />
</Layout>
