---
import Layout from "@layouts/Layout.astro";
import Intro from "@components/resume/Intro.astro";
import WorkExperience from "@components/resume/WorkExperience.astro";
import Misc from "@components/resume/Misc.astro";
import BackToTop from "@utils/BackToTop.astro";
---

<Layout title="Steve Frenzel - Resume">
  <div id="resume-container">
    <Intro />
    <main class="wrapper">
      <WorkExperience />
      <Misc />
      <BackToTop />
    </main>
  </div>
</Layout>
