---
import Layout from "@layouts/Layout.astro";
import Intro from "@components/resume/Intro.astro";
import WorkExperience from "@components/resume/WorkExperience.astro";
import Misc from "@components/resume/Misc.astro";
import BackToTop from "@utils/BackToTop.astro";
---

<Layout title="Steve Frenzel - Resume">
  <div class="resume-container">
    <Intro />
    <main class="wrapper">
      <WorkExperience />
      <Misc />
      <BackToTop />
    </main>
  </div>
</Layout>

<style lang="scss" is:global>
  .resume-container {
    a:not(.anchor-link),
    p {
      font-family: "Atkinson Hyperlegible", serif;
    }

    .wrapper {
      justify-items: start;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      max-width: 1536px;
      margin: 0 auto;
      padding: 0 var(--space-s);
    }
  }
</style>
