---
import ExternalLink from "@utils/ExternalLink.astro";
---

<footer>
  <p>
    Coded with <span aria-label="love">❤️</span> by Steve Frenzel.
    <ExternalLink
      href="https://github.com/stevefrenzel/dev-portfolio"
      fontSize="var(--step-0)"
      name="Code on GitHub"
    />
  </p>
</footer>

<style>
  footer {
    border-top: 0.1px solid var(--color-grey-light);
    margin-top: var(--space-3xl);
    padding: var(--space-m) var(--space-s);
    text-align: center;
  }

  a,
  p {
    font-size: var(--step-0);
  }

  p {
    margin: 0;
  }
</style>
