<footer>
  Coded with <span aria-label='love'>❤️</span> by Steve Frenzel. <a
    href='https://github.com/stevefrenzel/dev-portfolio'
    rel='noopener noreferrer'>Have a look at the code on GitHub!</a
  >
</footer>

<style>
  footer {
    background: var(--color-black-alt);
    color: var(--color-white);
    margin-top: var(--space-3xl);
    padding: var(--space-m) var(--space-s);
    text-align: center;
  }
</style>
