---
import { Image } from "astro:assets";
import DividerVertical from "@utils/DividerVertical.astro";
import ExternalLink from "@utils/ExternalLink.astro";
import gitHub from "@images/icons/github.svg";
import linkedIn from "@images/icons/linkedin.svg";
import mastodon from "@images/icons/mastodon.svg";

const socialLinks = [
  {
    icon: linkedIn,
    name: "LinkedIn",
    rel: "noopener noreferrer",
    url: "https://www.linkedin.com/in/stevefrenzel/",
  },
  {
    icon: gitHub,
    name: "GitHub",
    rel: "noopener noreferrer",
    url: "https://github.com/stevefrenzel",
  },
  {
    icon: mastodon,
    name: "Mastodon",
    rel: "me",
    url: "https://mastodon.online/@stvfrnzl",
  },
];
---

<section aria-label="Intro" id="intro">
  <div class="heading-container">
    <span class="kicker">Steve Frenzel</span>
    <h1>
      Web De&shy;vel&shy;op&shy;er & <br aria-hidden="true" /> Ac&shy;ces&shy;si&shy;bil&shy;i&shy;ty
      Ad&shy;vo&shy;cate
    </h1>
  </div>

  <div class="text-container">
    <p>
      I'm a web developer based in Nuremberg, Germany. I love to practice and
      preach about web accessibility and focus on the web fundamentals: HTML,
      CSS & JavaScript. Get in touch via <a
        class="u-email"
        href="mailto:stvfrnzl@duck.com"
        rel="me">e-mail</a
      >, or find my digital self here:
    </p>
    <ul>
      {
        socialLinks.map((item) => (
          <li>
            <Image alt="" class="icon" src={item.icon} loading="eager" />
            <ExternalLink
              fontSize="var(--step-2)"
              href={item.url}
              name={item.name}
              rel={item.rel}
            />
          </li>
        ))
      }
    </ul>
  </div>
</section>

<DividerVertical borderStyle="dashed" />

<style>
  section {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 200ch;
  }

  .heading-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: var(--space-xl) 0;
    width: fit-content;
  }

  .heading-container {
    font-family: "Syne", sans-serif;
    font-size: var(--step-2);
    line-height: 1;
  }

  h1 {
    font-size: 6rem;
    hyphens: manual;
    margin: 0;
    text-align: right;
  }

  @media (max-width: 1024px) {
    h1 {
      font-size: 3rem;
    }
  }

  .text-container a {
    font-size: var(--step-2);
  }

  p {
    font-size: var(--step-2);
    max-width: 50ch;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-s);
    margin-left: auto;
    padding: 0;
    width: fit-content;
  }

  li {
    align-items: center;
    display: flex;
    gap: var(--space-3xs);
  }
</style>
