<header>
  <nav>
    <ul>
      <li><a href="#intro">INTRO</a></li>
      <span aria-hidden="true">•</span>
      <li><a href="#projects">PROJECTS</a></li>
      <span aria-hidden="true">•</span>
      <li><a href="#collaborations">COLLABORATIONS</a></li>
      <span aria-hidden="true">•</span>
      <li><a href="#about-me">ABOUT ME</a></li>
      <span aria-hidden="true">•</span>
      <li><a href="/resume">RESUME</a></li>
    </ul>
  </nav>
</header>

<style>
  ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xs);
    list-style-type: none;
    margin: 0 auto;
    max-width: 1536px;
    min-height: 72px;
    padding: var(--space-xs);
  }
</style>
