---
import SkipLink from "@utils/SkipLink.astro";
---

<header>
  <SkipLink />
  <nav>
    <ul class="reel">
      <li>
        <a href="#intro">INTRO</a>
      </li>
      <li>
        <a href="#projects">PROJECTS</a>
      </li>
      <li>
        <a href="#collaborations">COLLABORATIONS</a>
      </li>
      <li>
        <a href="#about-me">ABOUT ME</a>
      </li>
      <li>
        <a href="/resume">RESUME</a>
      </li>
      <li><a href="/blog">BLOG</a></li>
    </ul>
  </nav>
</header>

<style>
  header {
    margin: 0 var(--space-s);
  }

  ul {
    display: flex;
    gap: var(--space-s);
    block-size: auto;
    margin: var(--space-s) auto;
    max-width: 1536px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 0.5rem;
    scrollbar-color: #fff var(--color-black);
  }

  ul::-webkit-scrollbar {
    block-size: 1rem;
  }

  ul::-webkit-scrollbar-track {
    background-color: var(--color-black);
  }

  ul::-webkit-scrollbar-thumb {
    background-color: var(--color-black);
    background-image: linear-gradient(
      var(--color-black) 0,
      var(--color-black) 0.25rem,
      #fff 0.25rem,
      #fff 0.75rem,
      var(--color-black) 0.75rem
    );
  }

  ul > * {
    flex: 0 0 auto;
  }

  ul > * + * {
    margin-inline-start: 1rem;
  }

  ul.overflowing {
    padding-block-end: 1rem;
  }
</style>
