<header>
  <nav>
    <ul role="list">
      <li><a href="#intro">Intro</a></li>
      <span aria-hidden="true">•</span>
      <li><a href="#projects">Projects</a></li>
      <span aria-hidden="true">•</span>
      <li><a href="#collaborations">Collaborations</a></li>
      <span aria-hidden="true">•</span>
      <li><a href="#about-me">About me</a></li>
      <span aria-hidden="true">•</span>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>

<style lang="scss">
  ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xs);
    list-style-type: none;
    margin: 0 auto;
    max-width: 1536px;
    min-height: 72px;
    padding: var(--space-xs);
  }

  a {
    text-transform: uppercase;
    text-decoration: none;
  }
</style>
