<nav id='navigation'>
  <ul>
    <li><a href='#intro'>Intro</a></li>
    <li><a href='#projects'>Projects</a></li>
    <li><a href='#clients'>Clients</a></li>
    <li><a href='#about-me'>About me</a></li>
    <li><a href='#contact'>Contact</a></li>
  </ul>
</nav>

<style lang='scss'>
  /* Code for navigation generated on Every Layout: https://every-layout.dev/ */

  nav {
    display: flex;
    block-size: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-color: var(--color-white) var(--color-black);
  }

  nav::-webkit-scrollbar {
    block-size: 1rem;
  }

  nav::-webkit-scrollbar-track {
    background-color: var(--color-black);
  }

  nav::-webkit-scrollbar-thumb {
    background-color: var(--color-black);
    background-image: linear-gradient(
      var(--color-black) 0,
      var(--color-black) 0.25rem,
      var(--color-white) 0.25rem,
      var(--color-white) 0.75rem,
      var(--color-black) 0.75rem
    );
  }

  nav > * {
    flex: 0 0 auto;
  }

  nav > * + * {
    margin-inline-start: 1rem;
  }

  nav.overflowing {
    padding-block-end: 1rem;
  }

  ul {
    margin: 0;
    padding: 0 var(--space-s);
    list-style-type: none;
    display: flex;
    min-height: 72px;
    align-items: center;
    gap: var(--space-m);
    background: var(--color-black);
  }

  li:nth-child(2) {
    a {
      outline-color: #f6026a;
    }
  }

  li:nth-child(3) {
    a {
      outline-color: var(--color-accent-clients);
    }
  }

  li:nth-child(4) {
    a {
      outline-color: var(--color-accent-about);
    }
  }

  li:nth-child(5) {
    a {
      outline-color: var(--color-accent-contact);
    }
  }

  a {
    color: var(--color-white);
    text-transform: uppercase;
    text-decoration: none;
  }
</style>
