<nav>
  <ul role='list'>
    <li><a href='#intro'>Intro</a></li>
    <span aria-hidden='true'>•</span>
    <li><a href='#projects'>Projects</a></li>
    <span aria-hidden='true'>•</span>
    <li><a href='#collaborations'>Collaborations</a></li>
    <span aria-hidden='true'>•</span>
    <li><a href='#about-me'>About me</a></li>
    <span aria-hidden='true'>•</span>
    <li><a href='#contact'>Contact</a></li>
  </ul>
</nav>

<style lang='scss'>
  ul {
    align-items: center;
    background: var(--color-black);
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xs);
    list-style-type: none;
    margin: 0 auto;
    max-width: 1536px;
    min-height: 72px;
    padding: var(--space-xs);
  }

  a {
    color: var(--color-white);
    text-transform: uppercase;
    text-decoration: none;
  }

  li:nth-child(3) {
    a {
      outline-color: #f6026a;

      &:hover,
      &:focus,
      &:focus-visible {
        color: #f6026a;
      }
    }
  }

  li:nth-child(5) {
    a {
      outline-color: var(--color-accent-collaborations);

      &:hover,
      &:focus,
      &:focus-visible {
        color: var(--color-accent-collaborations);
      }
    }
  }

  li:nth-child(7) {
    a {
      outline-color: var(--color-accent-about);

      &:hover,
      &:focus,
      &:focus-visible {
        color: var(--color-accent-about);
      }
    }
  }

  li:nth-child(9) {
    a {
      outline-color: var(--color-accent-contact);

      &:hover,
      &:focus,
      &:focus-visible {
        color: var(--color-accent-contact);
      }
    }
  }
</style>
