<nav>
  <ul>
    <li><a href='#start'>Start</a></li>
    <li><a href='#projects'>Projects</a></li>
    <li><a href='#clients'>Clients</a></li>
    <li><a href='#skills'>Skills</a></li>
  </ul>
</nav>

<!-- <style>
  nav {
    border: 1px dashed black;
  }
</style> -->
