<nav id='navigation'>
  <ul role='list'>
    <li><a href='#intro'>Intro</a></li>
    <li><a href='#projects'>Projects</a></li>
    <li><a href='#collaborations'>Collaborations</a></li>
    <li><a href='#about-me'>About me</a></li>
    <li><a href='#contact'>Contact</a></li>
    <li><a href='/resume'>resume</a></li>
  </ul>
</nav>

<style lang='scss'>
  ul {
    margin: 0;
    padding: var(--space-s);
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    min-height: 72px;
    align-items: center;
    gap: var(--space-m);
    background: var(--color-black);
  }

  li:nth-child(2) {
    a {
      outline-color: #f6026a;
    }
  }

  li:nth-child(3) {
    a {
      outline-color: var(--color-accent-collaborations);
    }
  }

  li:nth-child(4) {
    a {
      outline-color: var(--color-accent-about);
    }
  }

  li:nth-child(5) {
    a {
      outline-color: var(--color-accent-contact);
    }
  }

  a {
    color: var(--color-white);
    text-transform: uppercase;
    text-decoration: none;
  }
</style>
