---
import { Image } from "astro:assets";
import DividerVertical from "@utils/DividerVertical.astro";
import ExternalLink from "@utils/ExternalLink.astro";
import adecco from "@images/screenshots/adecco.png";
import astroNaut from "@images/screenshots/astro-naut.png";
import aufewigwinter from "@images/screenshots/aufewigwinter.png";
import koraWinter from "@images/screenshots/kora-winter.png";
import nexum from "@images/screenshots/nexum.png";
import niessing from "@images/screenshots/niessing.png";
import sellwerk from "@images/screenshots/sellwerk.png";
import svti from "@images/screenshots/svti.png";

const projects = [
  {
    altText: "Screenshot of Adecco Jobs website",
    image: adecco,
    name: "Adecco Jobs",
    url: "https://www.adecco-jobs.com/",
  },
  {
    altText: "Screenshot of Astronaut website",
    image: astroNaut,
    name: "Astronaut",
    url: "https://astro-naut-template.vercel.app/",
  },
  {
    altText: "Screenshot of Auf Ewig Winter website",
    image: aufewigwinter,
    name: "aufewigwinter",
    url: "https://www.aufewigwinter.de/",
  },
  {
    altText: "Screenshot of Kora Winter website",
    image: koraWinter,
    name: "Kora Winter",
    url: "https://www.korawinter.de/",
  },
  {
    altText: "Screenshot of Nexum website",
    image: nexum,
    name: "nexum AG",
    url: "https://www.nexum.com/",
  },
  {
    altText: "Screenshot of Niessing website",
    image: niessing,
    name: "Niessing",
    url: "https://niessing.com/",
  },
  {
    altText: "Screenshot of Sellwerk website",
    image: sellwerk,
    name: "Sellwerk",
    url: "https://sellwerk.de/",
  },
  {
    altText: "Screenshot of SVTI website",
    image: svti,
    name: "SVTI",
    url: "https://www.svti.ch/",
  },
];
---

<section aria-label="Projects" id="projects">
  <h2>Projects</h2>
  <p>
    Here you can find a selection of projects I've been directly or indirectly
    involved in. This includes commercial as well as personal ones:
  </p>
  <ul>
    {
      projects.map((item) => (
        <li>
          <Image alt={item.altText} height={300} src={item.image} width={400} />
          <ExternalLink href={item.url} name={item.name} />
        </li>
      ))
    }
  </ul>
</section>

<DividerVertical borderStyle="dotted" />

<style>
  section {
    max-width: 1536px;
  }

  p {
    margin-top: var(--space-xs);
    max-width: 60ch;
  }

  ul {
    display: grid;
    gap: var(--space-m);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    list-style-type: none;
    margin: var(--space-xl) 0 0 0;
    padding: 0;
  }

  li {
    text-align: center;
  }

  img {
    margin-bottom: var(--space-xs);
    object-fit: cover;
  }
</style>
