---
import { Image } from '@astrojs/image/components';
import SectionHeader from '@components/SectionHeader.astro';
import Divider from '@components/Divider.astro';

import adecco from '@images/screenshots/adecco.png';
import aufewigwinter from '@images/screenshots/aufewigwinter.png';
import koraWinter from '@images/screenshots/kora-winter.png';
import nexum from '@images/screenshots/nexum.png';
import niessing from '@images/screenshots/niessing.png';
import owncloud from '@images/screenshots/owncloud.png';
import sellwerk from '@images/screenshots/sellwerk.png';
import svti from '@images/screenshots/svti.png';
import thankYouNext from '@images/screenshots/thank-you-next.png';

const projects = [
  {
    altText: 'Screenshot of Adecco Jobs website',
    image: adecco,
    name: 'Adecco Jobs',
    url: 'https://www.adecco-jobs.com/',
  },
  {
    altText: 'Screenshot of Auf Ewig Winter website',
    image: aufewigwinter,
    name: 'aufewigwinter',
    url: 'https://www.aufewigwinter.de/',
  },
  {
    altText: 'Screenshot of Kora Winter website',
    image: koraWinter,
    name: 'Kora Winter',
    url: 'https://www.korawinter.de/',
  },
  {
    altText: 'Screenshot of Nexum website',
    image: nexum,
    name: 'nexum AG',
    url: 'https://www.nexum.com/',
  },
  {
    altText: 'Screenshot of Niessing website',
    image: niessing,
    name: 'Niessing',
    url: 'https://niessing.com/',
  },
  {
    altText: 'Screenshot of Own Cloud website',
    image: owncloud,
    name: 'ownCloud',
    url: 'https://owncloud.com/',
  },
  {
    altText: 'Screenshot of Sellwerk website',
    image: sellwerk,
    name: 'Sellwerk',
    url: 'https://sellwerk.de/',
  },
  {
    altText: 'Screenshot of SVTI website',
    image: svti,
    name: 'SVTI',
    url: 'https://www.svti.ch/',
  },
  {
    altText: 'Screenshot of Thank You Next website',
    image: thankYouNext,
    name: 'ThankYouNext',
    url: 'https://thankyounext.vercel.app/',
  },
];
---

<section aria-label='projects' id='projects'>
  <SectionHeader
    ariaLabel='Projects'
    accentColor='#f6026a'
    href='#projects'
    title='Projects'
  />
  <p>
    Here you can find <mark
      >a selection of projects I've been directly or indirectly involved</mark
    > in. This includes commercial as well as personal ones:
  </p>
  <ul role='list'>
    {
      projects.map((item) => (
        <li>
          <Image alt={item.altText} height={300} src={item.image} width={400} />
          <a href={item.url} rel='noopener noreferrer'>
            {item.name}
          </a>
        </li>
      ))
    }
  </ul>
</section>
<Divider />

<style>
  section {
    max-width: 1536px;
  }

  p {
    margin-top: var(--space-xs);
    max-width: 60ch;
  }

  ul {
    display: grid;
    gap: var(--space-m);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    list-style-type: none;
    margin: var(--space-xl) 0 0 0;
    padding: 0;
  }

  li {
    text-align: center;
  }

  img {
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px grey;
    margin-bottom: var(--space-xs);
    object-fit: cover;
  }

  mark {
    background: var(--color-accent-projects);
    color: var(--color-white);
    padding: 0 1%;
  }

  a:hover,
  a:focus,
  a:focus-visible {
    outline-color: #f6026a;
  }
</style>
