---
export interface Props {
  accentColor?: string;
  ariaLabel: string;
  href: string;
  title: string;
}

const { ariaLabel, accentColor, href, title } = Astro.props;
---

<div class='section-header'>
  <h2 set:html={title}>
    <a aria-label={ariaLabel} href={href}>#</a>
  </h2>
</div>

<style define:vars={{ accentColor }}>
  .section-header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }

  h2 {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    gap: var(--space-xs);
  }

  a {
    font-family: 'Syne', sans-serif;
    font-size: var(--step-3);
  }

  a:hover,
  a:focus,
  a:focus-visible {
    outline-color: var(--accentColor);
  }
</style>
