---
export interface Props {
  ariaLabel: string;
  href: string;
  title: string;
}

const { ariaLabel, href, title } = Astro.props;
---

<div class='section-header'>
  <h2>{title}</h2>
  <a aria-label={ariaLabel} href={href}>#</a>
</div>

<style>
  .section-header {
    align-items: center;
    display: flex;
    gap: var(--space-s);
  }
  a {
    font-family: 'Syne', sans-serif;
    font-size: var(--step-3);
  }
</style>
