<div>
  <a href='#main'>Skip to main content</a>
</div>

<style>
  a {
    outline: none !important;
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  a:focus,
  a:focus-visible {
    background: blue;
    position: static;
    height: 72px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
