.container {
  background: var(--highlight);
  color: var(--black);
  max-width: var(--max-width);
  margin: var(--margin-and-center);
  padding: var(--inner-padding);
  display: flex;
  justify-content: center;
  clip-path: polygon(2.4% 4%, 93.1% 13.5%, 96.6% 95.3%, 3.5% 93.3%);

  h2 {
    margin-bottom: 1rem;
  }

  p {
    max-width: 60ch;
  }
}
