@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    /* Color */
    --white: #f3f3f3;
    --black: #000;
    --grey: #404040;
    --highlight: #94b49f;
    /* Spacing */
    --max-width: 1600px;
    --inner-padding: 4rem 2rem;
    --margin-and-center: 0.5em auto;
  }

body {
    font-family: 'Inter', sans-serif;
    font-size: calc(1em + 1vw);
    background: var(--white);
    color: var(--black);
}