---
import { Image } from "astro:assets";
import arrow from "@images/icons/arrow-upward.svg";
---

<a aria-label="Back to blog" href="/blog">
  <Image alt="" src={arrow} />
</a>

<style>
  a {
    bottom: var(--space-xs);
    position: fixed;
    left: var(--space-xs);
  }

  img {
    rotate: -90deg;
  }
</style>
