---
import { Image } from "astro:assets";
---

<section aria-label="Meta data for the IndieWeb" class="h-card visually-hidden">
  <div class="p-name">Steve Frenzel</div>
  <div class="p-category">Web developer & accessibility advocate</div>
  <a class="u-url" href="https://stevefrenzel.dev/" rel="me">Steve Frenzel</a>
  <Image
    alt="Steve Frenzel"
    height="1"
    class="u-photo"
    src="https://www.stevefrenzel.dev/picture-of-me.jpg"
    width="1"
  />
  <p class="p-note">
    I specialize in designing and implementing robust and inclusive websites. My
    focus is on accessibility, which I educate about and implement practically.
    I am also a music nerd and love hot sauces! 🔥
  </p>
</section>
