---
export interface Props {
  accentColor?: string;
  ariaLabel: string;
  href: string;
  title: string;
}

const { ariaLabel, accentColor, href, title } = Astro.props;
---

<div class="section-header">
  <h2 set:html={title} />
  <a aria-label={ariaLabel} class="anchor-link" href={href}>#</a>
</div>

<style define:vars={{ accentColor }}>
  .section-header {
    align-items: end;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xs);
  }

  h2 {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    gap: var(--space-xs);
  }

  a {
    font-family: "Syne", sans-serif;
    font-size: var(--step-3);
    text-decoration: none;
  }
</style>
